.opening {
    font-size: xx-large;
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 5%;
}

.section {
    font-size: xx-large;
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 5%;
}

.next_button {
    font-size: medium;
    float: right;
    margin-right: 20px;
}

.questions {
    font-size: xx-large;
    align: left;
    width: 85%;
    margin: auto;
    padding: 5%;
}

body { 
    background: #eabae3;
    color: #dcace4; 
}


