.opening {
    font-size: xx-large;
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section {
    font-size: xx-large;
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 5%;
}

.next_button {
    font-size: medium;
    float: right;
    margin-right: 20px;
}

.questions {
    font-size: xx-large;
    align: left;
    width: 85%;
    margin: auto;
    padding: 5%;
}

body { 
    background: #ffffff;
    color: #000000; 
}

.fontawesome {
    font-size: 1.15rem;
    color: #333333;
 }

 .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #333333;
color: #f8f8f8;
font-size: 1.15rem;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 6px;
padding: 15px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -100px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

       


